{% extends 'base.html' %}
{% load static %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/estilos/main.css' %}">
{% endblock styles %}


{% block headers %}
<nav class="navbar navbar-expand-lg animate__animated animate__bounceInLeft">
    <a class="navbar-brand" href="#" id="main-logo">
        <img src="{% static 'Im/UTP_sin_nombre.png' %}" alt="logo">
        APBTD
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ul-nav">
            <!-- <li class="nav-item" style="--animate-duration: 500ms;" id="li-form">
                <form action="" id="li-form-form">
                    <input type="text" placeholder="Palabra clave">
                </form>
                <a class="nav-link d-inline-block" id="icon-search" href="#">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                        <path fill-rule="evenodd"
                            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                    </svg>
                </a>
            </li> -->
            <li class="nav-item li-hidden">
                <a class="nav-link" style="--animate-duration: 500ms;" href="#">Manual
                    de usuario</a>
            </li>
            <li class="nav-item li-hidden">
                <a class="nav-link" style="--animate-duration: 500ms;" href="#">Manual
                    Tecnico</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock headers %}


{% block content %}
<main>
    <div class="row mx-auto">
        <div class="col-lg-6 principal-content">
            <h1>
                Herramienta didáctica para aprendizaje de la lógica de programación basada en escenarios del mundo real.
            </h1>
            <p>
                Este software es creado por la universidad tecnológica de Pereira, tiene como finalidad el enseñar
                las herramientas básicas de programación basándose en ejemplos y escenarios de la vida real, con el
                objetivo de garantizar y reforzar el aprendizaje de los alumnos y de todos los usuarios que hagan uso de
                este software. <br>
                Este software cuenta con dos secciones, una parte que es teórica y la otra interactiva, en la parte
                teórica se explican conceptos básicos pero fundamentales que ayudan en la línea de aprendizaje de la
                programación, en la parte interactiva se encuentran una serie de juegos sencillos y lógicos, donde se busca mostrar
                de manera general la teoría implementada o aplicada a los juegos.

            </p>
            <div class="main-botones" style="--animate-duration: 500ms;">
                <a href="#" style="background-color: #2180c3; color: white;">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-joystick mr-3" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.106 15.553L.553 12.276A1 1 0 0 1 0 11.382V9.471a1 1 0 0 1 .606-.89L6 6.269v1.088L1 9.5l5.658 2.83a3 3 0 0 0 2.684 0L15 9.5l-5-2.143V6.27l5.394 2.312a1 1 0 0 1 .606.89v1.911a1 1 0 0 1-.553.894l-6.553 3.277a2 2 0 0 1-1.788 0z" />
                        <path fill-rule="evenodd" d="M7.5 9.5v-6h1v6h-1z" />
                        <path
                            d="M10 9.75c0 .414-.895.75-2 .75s-2-.336-2-.75S6.895 9 8 9s2 .336 2 .75zM10 2a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
                    </svg> Ir a los juegos</a>
                <a href="#" style="background-color: #f9b916; color: white;" id="teoria">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-journal-code mr-3"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
                        <path
                            d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
                        <path fill-rule="evenodd"
                            d="M8.646 5.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 8 8.646 6.354a.5.5 0 0 1 0-.708zm-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 8l1.647-1.646a.5.5 0 0 0 0-.708z" />
                    </svg>
                    Ir a la teoría</a>
            </div>
        </div>
        <div class="col-lg-6" id="second-content">
            <img class="w-100" src="{% static 'Im/Computer.png' %}" alt="computer">
        </div>
    </div>
</main>
<section id="section1">
    <div class="row mx-auto" id="row-section1">
        <div class="col-lg-12 introduction">
            <h1>¿Qué se va aprender en este software?</h1>
            <p>
                Principalmente se busca enseñar los temas básicos de la programación tales como lo que son los
                operadores lógicos y aritméticos, los sistemas de ecuaciones (en un aspecto muy superficial), la lógica
                de predicados o más conocido en un lenguaje de programación como condicionales, teoría de conjuntos,
                diagramas de flujo, vectores, entre otras. También se muestra en práctica algunos de los ejemplos
                especificados en la teoría implementada en los juegos.
            </p>
        </div>
    </div>
</section>
<section id="section2">
    <div class="row mx-auto">
        <div class="col-lg-12 introduction">
            <h1 class="text-center">¿Qué son los video juegos en esta página?</h1>
            <p>
                Los video juegos son la parte didáctica con la que se busca que el usuario pueda distraerse, y también
                visualice de manera general cómo se puede aplicar alguno de los temas explicados en la teoría.
            </p>
        </div>
        <div class="row mx-auto">
            <div class="col-lg-6 text-center">
                <div class="card">
                    <img src="{% static 'Im/juego1/juego1.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Triqui</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="{% url 'juegos_app:juego1-index' %}" class="btn">Ir al juego</a>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'Im/juego2/juego2.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Adivina la figura</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="{% url 'juegos_app:juego2-index' %}" class="btn">Ir al juego</a>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'Im/juego3/juego3.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Captura las frutas</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="{% url 'juegos_app:juego3-index' %}" class="btn">Ir al juego</a>
                    </div>
                </div>
                <div class="card ">
                    <img src="{% static 'Im/juego4/juego4.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Juego Rompe cabezas</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="{% url 'juegos_app:juego4-index' %}" class="btn">Ir al juego</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" id="image-games-port-content">
                <img src="{% static 'Im/juegos.png' %}" alt="" width="100%">
            </div>
        </div>
    </div>
</section>
<section id="slider">

    <div class="row mx-auto">
        <div class="col-lg-12 introduction" style="margin: 30px auto 30px auto;">
            <h1>Sobre la parte teórica</h1>
            <p>
                A continuación, se presentan los módulos de la teoría, en estos se pueden visualizar a profundidad
                los temas mencionados anteriormente, con este módulo se busca que el usuario tenga una idea sobre
                ciertos conceptos o temas que le pueden ayudar a profundizar en su aprendizaje de la programación.
            </p>
        </div>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-interval="false" data-ride="carousel">
        <!-- <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol> -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row mx-auto mt-3">
                    <div class="col-lg-4">
                        <h3>Operadores</h3>
                        <hr style="width: 80%; margin: auto;">
                        <div class="img_cont" style="width: 70%; margin: auto;">
                            <img src="{% static 'Im/operadores/Operadores.png' %}" style="height: 160px;"
                                alt="image-module" width="100%">
                        </div>
                        <div class="boton">
                            <a href="{% url 'operadores_app:operadores' %}">Ir al modulo</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h3>Sistemas de ecuaciones</h3>
                        <hr style="width: 80%; margin: auto;">
                        <div class="img_cont" style="width: 70%; margin: auto;">
                            <img src="{% static 'Im/sistema_ecuacuones.jpg' %}" alt="image-module"
                                style="height: 160px;" width="100%">
                        </div>
                        <div class="boton">
                            <a href="{% url 'sistemas_ecuaciones_app:sistemas_ecuaciones' %}">Ir al modulo</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h3>Lógica de predicados</h3>
                        <hr style="width: 80%; margin: auto;">
                        <div class="img_cont" style="width: 70%; margin: auto;">
                            <img src="{% static 'Im/logica-predicados/logica_predicados.png' %}" alt="image-module"
                                style="height: 160px;" width="100%">
                        </div>
                        <div class="boton">
                            <a href="{% url 'logica_predicados_app:logica_predicados' %}">Ir al modulo</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row mx-auto mt-3">
                    <div class="col-lg-4">
                        <h3>Teoría de conjuntos</h3>
                        <hr style="width: 80%; margin: auto;">
                        <div class="img_cont" style="width: 70%; margin: auto;">
                            <img src="{% static 'Im/teoriaconjuntos/teoriaconjuntos.png' %}" alt="image-module" style="height: 160px;" width="100%">
                        </div>
                        <div class="boton">
                            <a href="{% url 'teoria_conjuntos_app:teoria_conjuntos' %}">Ir al modulo</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h3>Diagramas de flujo</h3>
                        <hr style="width: 80%; margin: auto;">
                        <div class="img_cont" style="width: 70%; margin: auto;">
                            <img src="{% static 'Im/diagramaflujo/diagramaflujo.png' %}" alt="image-module" style="height: 160px;"
                                width="100%">
                        </div>
                        <div class="boton">
                            <a href="{% url 'diagramas_flujo_app:diagramas_flujo' %}">Ir al modulo</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h3>Vectores</h3>
                        <hr style="width: 80%; margin: auto;">
                        <div class="img_cont" style="width: 70%; margin: auto;">
                            <img src="{% static 'Im/vectores/arreglo.png' %}" style="height: 160px;" alt="image-module"
                                width="100%">
                        </div>
                        <div class="boton">
                            <a href="{% url 'vectores_app:vectores' %}">Ir al modulo</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-item">
                <div class="row mx-auto mt-3">
                    <div class="col-lg-4">
                        <h3>Matrices</h3>
                        <hr style="width: 80%; margin: auto;">
                        <div class="img_cont" style="width: 70%; margin: auto;">
                            <img src="{% static 'Im/matrices/matrices.png' %}" style="height: 160px;" alt="image-module"
                                width="100%">
                        </div>
                        <div class="boton">
                            <a href="{% url 'matrices_app:matrices' %}">Ir al modulo</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h3>Razonamiendo inductivo</h3>
                        <hr style="width: 80%; margin: auto;">
                        <div class="img_cont" style="width: 70%; margin: auto;">
                            <img src="{% static 'Im/games-port.jpg' %}" style="height: 160px;" alt="image-module"
                                width="100%">
                        </div>
                        <div class="boton">
                            <a href="{% url 'razonamiento_inductivo_app:razonamiento_inductivo' %}">Ir al modulo</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h3>Razonamiento abstracto</h3>
                        <hr style="width: 80%; margin: auto;">
                        <div class="img_cont" style="width: 70%; margin: auto;">
                            <img src="{% static 'Im/razonamientoabst/razonamiento.png' %}" style="height: 160px;" alt="image-module"
                                width="100%">
                        </div>
                        <div class="boton">
                            <a href="{% url 'razonamiento_abstracto_app:razonamiento_abstracto' %}">Ir al modulo</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="carousel-item">
                <div class="row mx-auto mt-3">
                    <div class="col-lg-4">
                        <h3>Razonamiendo inductivo</h3>
                        <hr style="width: 80%; margin: auto;">
                        <div class="img_cont" style="width: 70%; margin: auto;">
                            <img src="{% static 'Im/games-port.jpg' %}" style="height: 160px;" alt="image-module"
                                width="100%">
                        </div>
                        <div class="boton">
                            <a href="{% url 'razonamiento_inductivo_app:razonamiento_inductivo' %}">Ir al modulo</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h3>Razonamiento deductivo</h3>
                        <hr style="width: 80%; margin: auto;">
                        <div class="img_cont" style="width: 70%; margin: auto;">
                            <img src="{% static 'Im/games-port.jpg' %}" alt="image-module" width="100%"
                                style="height: 160px;">
                        </div>
                        <div class="boton">
                            <a href="{% url 'razonamiento_deductivo_app:razonamiento_deductivo' %}">Ir al modulo</a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h3>Funciones</h3>
                        <hr style="width: 80%; margin: auto;">
                        <div class="img_cont" style="width: 70%; margin: auto;">
                            <img src="{% static 'Im/funciones/Diag_funciones.png' %}" style="height: 160px;" alt="image-module"
                                width="100%">
                        </div>
                        <div class="boton">
                            <a href="{% url 'funciones_app:funciones' %}">Ir al modulo</a>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
{% endblock content %}

{% block scripts %}

<script>
    // var abierto = false
    var close = true
    $('#icon-search').on('click', function (e) {
        e.preventDefault()
    })

    $(window).scroll((e) => {
        var st = $(this).scrollTop();
        if (st > 0) {
            $('.li-hidden').addClass('desactivate')
        } else {
            $('.li-hidden').removeClass('desactivate')
        }
    })
</script>

{% endblock scripts %}