main{
    margin-top: 80px;
    background-image: url('../../Im/RecuadrosTransparencia.png') !important;
    background-size: cover !important;
    height: 100vh;
}
main .row{
    max-width: 1219px;
    margin: auto;
}
main .row .col-lg-12{
    margin: 20px auto 50px auto;
}
main .row .col-lg-12 h2{
    text-align: center;
    font-size: 27px;
}
main .row #tablero #tablero-container{
    width: 500px;
    margin: auto auto auto auto;
}
main .row #tablero #tablero-container table tr td{
    text-align: center;
    width: 33%;
    border: 1px solid black;
    height: 100px;
}
main .row #tablero #tablero-container table tr td:hover{
    background-color: rgb(218, 218, 218);
    cursor: pointer;
}   
main .row #tablero #tablero-container table tr td span{
    margin-top: 26px;
    display: inline-block;
    font-family: "RobotoCondensed-Regular";
}
.span-show{
    font-family: "RobotoCondensed-Regular";
}
#codigo{
    font-family: "RobotoCondensed-Regular";
}
main .row #tablero #tablero-container table tr td span.X{
    color: #2180c3;
}
main .row #tablero #tablero-container table tr td span.O{
    color: #f9b916;
}