main div #second-content::after {
    background: none;
}

#second-content img {
    height: 300px;
    width: 300px !important;
    margin: auto;
}

#second-content{
    text-align: center !important;
}