{% extends 'base.html' %}
{% load static %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/estilos/ejemplos.css' %}">
<link rel="stylesheet" href="{% static 'css/estilos/ejemplo_operadores/ejemplo1.css' %}">
{% endblock styles %}

{% block headers %}
<nav class="navbar navbar-expand-lg animate__animated animate__bounceInLeft">
    <a class="navbar-brand" href="#" id="main-logo">
        <img src="{% static 'Im/UTP_sin_nombre.png' %}" alt="logo">
        APBTD
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ul-nav">
            <li class="nav-item li-hidden">
                <a class="nav-link" style="--animate-duration: 500ms;" href="/vectores#ejemplos">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left-fill mr-2"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                    </svg>Volver</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock headers %}

{% block content %}
<main>

    <!-- ENUNCIADO -->
    <div class="row mx-auto" id="enunciado-row" style="max-width: 1111px;">
        <div class="col-lg-12">
            <div class="contenedor-enunciado">
                <h2>TITULO</h2>
                <p>
                    En un colegio se requiere crear un sistema utilizando vectores que permita a un profesor registrar
                    las notas de sus alumnos, calcular y mostrar su promedio.
                </p>
                <div class="boton">
                    <a href="" id="start-btn" class="btn btn-success">
                        Empezar
                        <img class="ml-2" src="https://img.icons8.com/material-outlined/24/000000/start.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-auto desactivate" id="ejercicio-row" style="max-width: 1111px;">
        <!-- AQUI VA EL CODIGO -->
        <div class="col-lg-3" id="col-forms">
            <form id="form">
                <div class="form-group ej1 text-center">
                    <label for="num_materias">Numero de notas</label>
                    <input type="text" class="form-control" id="num_materias" placeholder="Numero">
                    <small id="num_materias" class="form-text text-muted">Ingrese el numero de notas (max. 5)</small>
                </div>
                <div class="bton text-center">
                    <button type="submit" class="btn btn-success">INGRESAR</button>
                </div>
            </form>

            <form id="form2" class="desactivate">
                <div class="form-group ej1 text-center" id="contentmateria">
                    <label for="materia">Nota</label>
                    <input type="text" class="form-control" id="materia" placeholder="Nota">
                    <small id="" class="form-text text-muted">Ingrese la nota</small>
                </div>
                <div class="bton text-center">
                    <button type="submit" class="btn btn-success">INGRESAR</button>
                </div>
            </form>
        </div>


        <!--  -->
        <div class="col-lg-2 desactivate" id="content-info-var">
            <p id="" style="font-family: RobotoCondensed-Regular;">Notas: <span class="" id="vector-span-0"></span></p>
        </div>


        <!--  -->
        <div class="col-lg-7 text-center desactivate" id="content-operacion">
            <p id="contenido"></p>
            <a href="#" id="showresutl" class="btn btn-success mb-2">Ver resultado</a>
        </div>

        <!--  -->
        <div class="col-lg-3 text-center desactivate" id="content-resultado">
            <h3>RESULTADO</h3>
            <p id="result"></p>
        </div>


        <!--  -->
        <div class="col-lg-12 desactivate text-center" id="content-reset">
            <a href="#" id="reiniciar1" class="btn btn-success">
                <i class="fas fa-undo-alt mr-2"></i>Reiniciar</a>
        </div>
    </div>


</main>
{% endblock content %}


{% block scripts %}
<script>
    $('#start-btn').on('click', (e) => {
        e.preventDefault()
        // $('#enunciado-row').toggle('explode')
        $('#enunciado-row').addClass('desactivate')
        // $('#ejercicio-row').toggle('explode')
        $('#ejercicio-row').removeClass('desactivate')
    })

    const validar_null_input = (valor) => {
        return valor && !isNaN(valor) && valor >= 1 && valor <= 5 ? true : false
    }

    const validar_null_input_null = (valor) => {
        return valor && !isNaN(valor) ? true : false
    }

    var valor = 0,
        cont = 0,
        valores = []


    var crear_elemento = (id) => {
        var p = document.createElement('p'),
            texto = document.createTextNode('Notas[' + id + ']')
        p.appendChild(texto)
        p.style.marginTop = '0px'
        return p
    }

    var OpenOperacion = () => {
        $('#content-operacion').toggle('explode')
        nodo_before = document.getElementById('showresutl')
        var element = ""
        for (let i = 0; i < valores.length; i++) {
            if(i!=valores.length -1 ){
                element += 'Notas['+i+'] + '
            }else{
                element += 'Notas['+i+']'
            }
        }
        // console.log(element)
        $('#contenido').text(element+' / '+valor)
        // document.getElementById('content-operacion').insertBefore(element, nodo_before)
    }

    $('#form').submit(function (e) {
        e.preventDefault()
        valor = parseInt($('#num_materias').val())

        if (validar_null_input(valor)) {
            $('#form').toggle('fold')
            $('#form2').toggle('fold')
        } else {
            alertify.set('notifier', 'position', 'bottom-center');
            var msg = alertify.error('Valor no valido');
            msg.delay(1.3)
        }
    })

    $('#form2').submit(function (e) {
        e.preventDefault()
        var nombre = parseInt($('#materia').val())

        if (validar_null_input_null(nombre)) {
            valores.push(nombre)
            $('#form2')[0].reset()
            cont++
            if (cont == valor) {
                $('#col-forms').toggle('explode')
                $('#content-info-var').toggle('explode')
                $('#vector-span-0').text('[' + valores + ']')
                OpenOperacion()
            }
        } else {
            alertify.set('notifier', 'position', 'bottom-center');
            var msg = alertify.error('Valor no valido');
            msg.delay(1.3)
        }


    })

    $('#showresutl').on('click', function (e) {
        e.preventDefault()
        $('#showresutl').toggle('fold')
        $('#content-resultado').toggle('fold')
        var prom = 0;
        for (let i = 0; i < valores.length; i++) {
            const element = valores[i];
            prom += element
        }
        prom = prom/valor
        document.getElementById('result').innerHTML = prom
        $('#content-reset').toggle('fold')
    })


    $('#reiniciar1').on('click', (e) => {
        e.preventDefault()
        location.reload()
    })
</script>
{% endblock scripts %}