{% extends 'base.html' %}
{% load static %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/estilos/ejemplos.css' %}">
<link rel="stylesheet" href="{% static 'css/estilos/ejemplo_operadores/ejemplo1.css' %}">
{% endblock styles %}

{% block headers %}
<nav class="navbar navbar-expand-lg animate__animated animate__bounceInLeft">
    <a class="navbar-brand" href="#" id="main-logo">
        <img src="{% static 'Im/UTP_sin_nombre.png' %}" alt="logo">
        APBTD
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ul-nav">
            <li class="nav-item li-hidden">
                <a class="nav-link" style="--animate-duration: 500ms;" href="/operadores#ejemplos">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left-fill mr-2"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                    </svg>Volver</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock headers %}

{% block content %}
<main>

    <!-- ENUNCIADO -->
    <div class="row mx-auto" id="enunciado-row" style="max-width: 1111px;">
        <div class="col-lg-12">
            <div class="contenedor-enunciado">
                <h2>TITULO</h2>
                <p>
                    Suponga que usted es un profesor y necesita crear un sistema sencillo el cual muestre el promedio de
                    notas de un alumno, para el desarrollo de este ejemplo se debe ingresar el numero de notas totales y
                    cada una de las notas. NOTA: tenga en cuenta que el número total de notas no puede ser mayor a 5, y
                    las notas estarán en un rango entre 0 – 10.
                </p>
                <div class="boton">
                    <a href="" id="start-btn" class="btn btn-success">
                        Empezar
                        <img class="ml-2" src="https://img.icons8.com/material-outlined/24/000000/start.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-auto desactivate" id="ejercicio-row" style="max-width: 1111px;">
        <!-- AQUI VA EL CODIGO -->
        <div class="col-lg-3" id="col-forms">
            <form id="form">
                <div class="form-group ej1 text-center">
                    <label for="num_notas">Numero de notas</label>
                    <input type="text" class="form-control" id="num_notas" placeholder="NOTAS">
                    <small id="num_notas" class="form-text text-muted">Ingrese el numero de notas (max. 5)</small>
                </div>
                <div class="bton text-center">
                    <button type="submit" class="btn btn-success">INGRESAR</button>
                </div>
            </form>
            <form id="form2" class="desactivate">
                <div class="form-group ej1 text-center" id="cont-nota-1">
                    <label for="nota1">Nota 1</label>
                    <input type="text" class="form-control" id="nota1" placeholder="NOTA 1">
                    <small id="" class="form-text text-muted">Ingrese la nota 1</small>
                </div>
                <div class="form-group ej1 text-center desactivate" id="cont-nota-2">
                    <label for="nota2">Nota 2</label>
                    <input type="text" class="form-control" id="nota2" placeholder="NOTA 2">
                    <small id="" class="form-text text-muted">Ingrese la nota 2</small>
                </div>
                <div class="form-group ej1 text-center desactivate" id="cont-nota-3">
                    <label for="nota3">Nota 3</label>
                    <input type="text" class="form-control" id="nota3" placeholder="NOTA 3">
                    <small id="" class="form-text text-muted">Ingrese la nota 3</small>
                </div>
                <div class="form-group ej1 text-center desactivate" id="cont-nota-4">
                    <label for="nota4">Nota 4</label>
                    <input type="text" class="form-control" id="nota4" placeholder="NOTA 4">
                    <small id="" class="form-text text-muted">Ingrese la nota 4</small>
                </div>
                <div class="form-group ej1 text-center desactivate" id="cont-nota-5">
                    <label for="nota5">Nota 5</label>
                    <input type="text" class="form-control" id="nota5" placeholder="NOTA 5">
                    <small id="" class="form-text text-muted">Ingrese la nota 5</small>
                </div>
                <div class="bton text-center">
                    <button type="submit" class="btn btn-success">INGRESAR</button>
                </div>
            </form>
        </div>
        <div class="col-lg-2 desactivate" id="content-info-var">
            <p id="nota-p-0" style="font-family: RobotoCondensed-Regular;">Numero notas: <span class="font-weight-bold"
                    id="nota-span-0"></span></p>
            <p id="nota-p-1" class="desactivate" style="font-family: RobotoCondensed-Regular;">Nota 1: <span
                    class="font-weight-bold" id="nota-span-1"></span></p>
            <p id="nota-p-2" class="desactivate" style="font-family: RobotoCondensed-Regular;">Nota 2: <span
                    class="font-weight-bold" id="nota-span-2"></span></p>
            <p id="nota-p-3" class="desactivate" style="font-family: RobotoCondensed-Regular;">Nota 3: <span
                    class="font-weight-bold" id="nota-span-3"></span></p>
            <p id="nota-p-4" class="desactivate" style="font-family: RobotoCondensed-Regular;">Nota 4: <span
                    class="font-weight-bold" id="nota-span-4"></span></p>
            <p id="nota-p-5" class="desactivate" style="font-family: RobotoCondensed-Regular;">Nota 5: <span
                    class="font-weight-bold" id="nota-span-5"></span></p>
        </div>
        <div class="col-lg-7 text-center desactivate" id="content-operacion">
            <p id="op-1" class="desactivate">Nota 1 / Numero notas</p>
            <p id="op-2" class="desactivate">Nota 1 + Nota 2 / Numero notas</p>
            <p id="op-3" class="desactivate">Nota 1 + Nota 2 + Nota 3/ Numero notas</p>
            <p id="op-4" class="desactivate">Nota 1 + Nota 2 + Nota 3 + Nota 4 / Numero notas</p>
            <p id="op-5" class="desactivate">Nota 1 + Nota 2 + Nota 3 + Nota 4 + Nota 5 / Numero notas</p>

            <a href="#" id="showresutl" class="btn btn-success mb-2">Ver resultado</a>
        </div>
        <div class="col-lg-3 text-center desactivate" id="content-resultado">
            <h3>RESULTADO</h3>
            <p id="result"></p>
        </div>
        <div class="col-lg-12 desactivate text-center" id="content-reset">
            <a href="#" id="reiniciar1" class="btn btn-success">
                <i class="fas fa-undo-alt mr-2"></i>Reiniciar</a>
        </div>
    </div>


</main>
{% endblock content %}


{% block scripts %}
<script>
    $('#start-btn').on('click', (e) => {
        e.preventDefault()
        // $('#enunciado-row').toggle('explode')
        $('#enunciado-row').addClass('desactivate')
        // $('#ejercicio-row').toggle('explode')
        $('#ejercicio-row').removeClass('desactivate')
    })

    var num_notas = 0,
        num_nota_cont = 0,
        lista_notas = []


    const validar_null_input = (valor, st) => {
        valor = parseInt(valor)
        if (valor && !isNaN(valor)) {
            if (st == 1 && valor <= 5 && valor >= 1) {
                return true
            } else if (st == 2 && valor <= 10 && valor >= 1) {
                return true
            } else {
                return false
            }
        } else {
            return false
        }
    }

    const finalizar = (num) => {
        const active = "#op-" + num
        $('#col-forms').toggle('explode')
        $('#content-operacion').toggle('explode')
        $(active).removeClass('desactivate')

    }

    $('#form').submit(function (e) {
        e.preventDefault()

        // alert("")

        num_notas = $('#num_notas').val()

        if (validar_null_input(num_notas, 1)) {
            $('#form').toggle('explode')
            $('#form2').toggle('explode')
            $('#content-info-var').toggle('explode')
            $('#nota-span-0').text(num_notas)
        } else {
            alertify.set('notifier', 'position', 'bottom-center');
            var msg = alertify.error('Valor no valido');
            msg.delay(1.3)
        }

    })

    $('#form2').submit(function (e) {
        e.preventDefault()
        num_nota_cont += 1
        var nota = 0

        switch (num_nota_cont) {
            case 1:
                nota = $('#nota1').val()
                break
            case 2:
                nota = $('#nota2').val()
                break
            case 3:
                nota = $('#nota3').val()
                break
            case 4:
                nota = $('#nota4').val()
                break
            case 5:
                nota = $('#nota5').val()
                break
        }


        if (validar_null_input(nota, 2)) {
            num_notas = parseInt(num_notas)
            lista_notas.push(parseInt(nota))
            switch (num_nota_cont) {
                case 1:
                    $('#cont-nota-1').toggle('explode')
                    $('#cont-nota-2').toggle('explode')
                    $('#nota-p-1').toggle('fold')
                    $('#nota-span-1').text(nota)
                    break
                case 2:
                    $('#cont-nota-2').toggle('explode')
                    $('#cont-nota-3').toggle('explode')
                    $('#nota-p-2').toggle('fold')
                    $('#nota-span-2').text(nota)
                    break
                case 3:
                    $('#cont-nota-3').toggle('explode')
                    $('#cont-nota-4').toggle('explode')
                    $('#nota-p-3').toggle('fold')
                    $('#nota-span-3').text(nota)
                    break
                case 4:
                    $('#cont-nota-4').toggle('explode')
                    $('#cont-nota-5').toggle('explode')
                    $('#nota-p-4').toggle('fold')
                    $('#nota-span-4').text(nota)
                    break
                case 5:
                    $('#nota-p-5').toggle('fold')
                    $('#nota-span-5').text(nota)
                    // finalizar(num_notas)
                    break
            }
            if (num_nota_cont == num_notas) {
                finalizar(num_notas)
            }
        } else {
            alertify.set('notifier', 'position', 'bottom-center');
            var msg = alertify.error('Valor no valido');
            msg.delay(1.3)
            num_nota_cont -= 1
        }
    })

    $('#showresutl').on('click', function (e){
        e.preventDefault()
        var suma = 0
        // $('#content-operacion').toggle('fold')
        $('#showresutl').toggle('fold')
        $('#content-resultado').toggle('fold')

        for (let i = 0; i < lista_notas.length; i++) {
            const element = lista_notas[i];
            suma += element
        }
        var resultado = suma / num_notas
        resultado = resultado.toFixed(3)
        $('#result').text(resultado)
        $('#content-reset').toggle('fold')
    })


    $('#reiniciar1').on('click',(e) => {
        e.preventDefault()
        location.reload()
    })
</script>
{% endblock scripts %}