{% extends 'base.html' %}
{% load static %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/estilos/ejemplos.css' %}">
<link rel="stylesheet" href="{% static 'css/estilos/ejemplo_operadores/ejemplo1.css' %}">

{% endblock styles %}

{% block headers %}
<nav class="navbar navbar-expand-lg animate__animated animate__bounceInLeft">
    <a class="navbar-brand" href="#" id="main-logo">
        <img src="{% static 'Im/UTP_sin_nombre.png' %}" alt="logo">
        APBTD
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ul-nav">
            <li class="nav-item li-hidden">
                <a class="nav-link" style="--animate-duration: 500ms;" href="/operadores#ejemplos">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left-fill mr-2"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                    </svg>Volver</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock headers %}

{% block content %}
<main>

    <!-- ENUNCIADO -->
    <div class="row mx-auto" id="enunciado-row" style="max-width: 1111px;">
        <div class="col-lg-12">
            <div class="contenedor-enunciado">
                <h2>TITULO</h2>
                <p>
                    Para regular el agua que hay en un tanque se tiene un sensor de nivel, si el tanque se llena hasta 2
                    metros, es decir 200 centímetros que es como lo lee el sensor, el agua dejará de caer en él. La
                    motobomba recibe cero para apagarse y uno para encenderse, se le pide a usted diseñar un programa
                    que a partir de la medida del sensor prenda o apague la motobomba y de esta manera controlar el
                    agua.
                </p>
                <div class="boton">
                    <a href="" id="start-btn" class="btn btn-success">
                        Empezar
                        <img class="ml-2" src="https://img.icons8.com/material-outlined/24/000000/start.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-auto desactivate" id="ejercicio-row" style="max-width: 1111px;">
        <!-- AQUI VA EL CODIGO -->
        <div class="col-lg-3" id="col-forms">
            <!-- Numero de productos buenos -->
            <form id="form">
                <div class="form-group ej1 text-center">
                    <label for="nivel">Nivel del agua</label>
                    <input type="text" class="form-control" id="nivel" placeholder="Nivel">
                    <small id="num_notas" class="form-text text-muted">Ingrese el nivel del agua</small>
                </div>
                <div class="bton text-center">
                    <button type="submit" class="btn btn-success">INGRESAR</button>
                </div>
            </form>
        </div>

        <div class="col-lg-3 desactivate" id="col-vars">
            <p id="nivelp" style="font-family: RobotoCondensed-Regular;">Nivel del agua: <span class="font-weight-bold"
                    id="nivel-span"></span></p>
        </div>

        <div class="col-lg-5 text-center desactivate" id="content-operacion">
            <p>¿ Nivel <= 200 ?</p>
            <a href="#" id="showresutl" class="btn btn-success mb-2">Ver resultado</a>
        </div>

        <div class="col-lg-3 text-center desactivate" id="content-resultado">
            <h3>RESULTADO</h3>
            <p id="result"></p>
        </div>



        <div class="col-lg-12 desactivate text-center" id="content-reset">
            <a href="#" id="reiniciar1" class="btn btn-success">
                <i class="fas fa-undo-alt mr-2"></i>Reiniciar</a>
        </div>
    </div>


</main>
{% endblock content %}


{% block scripts %}
<script>

    var nivel = 0

    $('#start-btn').on('click', (e) => {
        e.preventDefault()
        // $('#enunciado-row').toggle('explode')
        $('#enunciado-row').addClass('desactivate')
        // $('#ejercicio-row').toggle('explode')
        $('#ejercicio-row').removeClass('desactivate')
    })

    const validar_null_input = (valor) => {
        return valor && !isNaN(valor) ? true : false
    }

    $('#form').submit(function (e) {
        e.preventDefault()
        var valor = $('#nivel').val()
        if (validar_null_input(parseInt(valor))) {
            nivel = parseInt(valor)
            $('#col-forms').toggle('fold')
            $('#col-vars').toggle('fold')
            $('#nivel-span').text(valor)
            $('#content-operacion').toggle('fold')
        } else {
            alertify.set('notifier', 'position', 'bottom-center');
            var msg = alertify.error('Valor no valido');
            msg.delay(1.3)
        }
    })


    $('#showresutl').on('click', function (e) {
        e.preventDefault()
        var result = 0
        // $('#content-operacion').toggle('fold')
        $('#showresutl').toggle('fold')
        $('#content-resultado').toggle('fold')

        if (nivel <= 200) {
            result = "La bomba sigue llenado"
        } else {
            result = "La bomba ha parado de llenar"
        }
        document.getElementById('result').innerHTML = result
        $('#content-reset').toggle('fold')
    })

    $('#reiniciar1').on('click', (e) => {
        e.preventDefault()
        location.reload()
    })


</script>
{% endblock scripts %}