{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/estilos/ejemplos.css' %}">
<link rel="stylesheet" href="{% static 'css/estilos/ejemplo_operadores/ejemplo1.css' %}">
{% endblock styles %}

{% block headers %}
<nav class="navbar navbar-expand-lg animate__animated animate__bounceInLeft">
    <a class="navbar-brand" href="#" id="main-logo">
        <img src="{% static 'Im/UTP_sin_nombre.png' %}" alt="logo">
        APBTD
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ul-nav">
            <li class="nav-item li-hidden">
                <a class="nav-link" style="--animate-duration: 500ms;" href="/razonamiento_deductivo#ejemplos">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left-fill mr-2"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                    </svg>Volver</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock headers %}

{% block content %}
<main>

    <!-- ENUNCIADO -->
    <div class="row mx-auto" id="enunciado-row" style="max-width: 1111px;">
        <div class="col-lg-12">
            <div class="contenedor-enunciado">
                <h2>Ejemplo #5</h2>
                <p>
                    Imagínese usted un reloj de pared. Escoja 2 números y enciérrelos mediante un solo trazo,
                    de modo que cada par de números encerrados sumen 19. ¿Cuántos números del reloj no podrán
                    encerrarse?
                </p>
                <div class="boton">
                    <a href="" id="start-btn" class="btn btn-success">
                        Solución
                        <img class="ml-2" src="https://img.icons8.com/material-outlined/24/000000/start.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-auto desactivate" id="ejercicio-row" style="max-width: 1111px;">
        <!-- AQUI VA EL CODIGO -->
        <div class="col-lg-12">
            <h2>Solución:</h2>
            <br>
            <p id="1" class="p-active">
                Los números encerrados son: <br><br>
            </p>
            <p id="2" class="desactivate">
                - 9 con 10. <br>
                - 8 con 11. <br>
                - 7 con 12. <br><br>
            </p>
            <p id="3" class="desactivate">
                Quedando sueltos los números 1, 2, 3, 4, 5 y 6.
            </p>
            <br>
        </div>
        <div class="col-lg-12 text-center" id="content-reset">
            <a href="#" id="sigt" class="btn btn-success">Siguiente</a>
            <a href="{% url 'sistemas_ecuaciones_app:ejemplo1' %}" id="reiniciar1"
                class="btn btn-success desactivate"><i class="fas fa-undo-alt mr-2"></i>Reiniciar</a>
        </div>
    </div>
</main>
{% endblock content %}

{% block scripts %}
<script>
    $('#start-btn').on('click', (e) => {
        e.preventDefault()
        // $('#enunciado-row').toggle('explode')
        $('#enunciado-row').addClass('desactivate')
        // $('#ejercicio-row').toggle('explode')
        $('#ejercicio-row').removeClass('desactivate')
    })

    var cont = 1

    $('#sigt').on('click', (e) => {
        e.preventDefault()
        cont++
        var id = '#' + cont,
            id_before = '#' + (cont - 1)
        if (cont != 3) {
            $(id).toggle('explode')
            $(id).addClass('p-active')
            $(id_before).removeClass('p-active')
        } else {
            $(id).addClass('p-active')
            $(id_before).removeClass('p-active')
            $(id).toggle('explode')
            $('#sigt').toggle('explode')
            $('#reiniciar1').toggle('explode')
        }

    })


    $('#reiniciar1').on('click', (e) => {
        e.preventDefault()
        location.reload()
    })
</script>
{% endblock scripts %}