{% extends 'base.html' %}
{% load static %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/estilos/ejemplos.css' %}">
<link rel="stylesheet" href="{% static 'css/estilos/ejemplo_operadores/ejemplo1.css' %}">
{% endblock styles %}

{% block headers %}
<nav class="navbar navbar-expand-lg animate__animated animate__bounceInLeft">
    <a class="navbar-brand" href="#" id="main-logo">
        <img src="{% static 'Im/UTP_sin_nombre.png' %}" alt="logo">
        APBTD
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ul-nav">
            <li class="nav-item li-hidden">
                <a class="nav-link" style="--animate-duration: 500ms;" href="/matrices#ejemplos">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left-fill mr-2"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                    </svg>Volver</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock headers %}

{% block content %}
<main>

    <!-- ENUNCIADO -->
    <div class="row mx-auto" id="enunciado-row" style="max-width: 1111px;">
        <div class="col-lg-12">
            <div class="contenedor-enunciado">
                <h2>TITULO</h2>
                <p>
                    Dado un tablero de 3x3, que contiene dentro de cada posición un número determinado, se necesita
                    crear un programa, que al ingresar dos posiciones, determine si el número que hay en cada posición
                    es similar al de la otra posición
                </p>
                <div class="boton">
                    <a href="" id="start-btn" class="btn btn-success">
                        Empezar
                        <img class="ml-2" src="https://img.icons8.com/material-outlined/24/000000/start.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mx-auto desactivate" id="ejercicio-row" style="max-width: 1111px;">
        <!-- AQUI VA EL CODIGO -->
        <div class="col-lg-3" id="col-forms">
            <form id="form">
                <div class="form-group ej1 text-center">
                    <label for="fila1">Fila posición 1</label>
                    <input type="text" class="form-control" id="fila1" placeholder="Fila">
                    <small id="fila" class="form-text text-muted">Ingrese la fila para la posición 1</small>
                </div>
                <div class="bton text-center">
                    <button type="submit" class="btn btn-success">INGRESAR</button>
                </div>
            </form>

            <form id="form2" class="desactivate">
                <div class="form-group ej1 text-center" id="contentmateria">
                    <label for="col">Columna para la posición 1</label>
                    <input type="text" class="form-control" id="col" placeholder="Columna">
                    <small id="" class="form-text text-muted">Ingrese la columna para la posición 1</small>
                </div>
                <div class="bton text-center">
                    <button type="submit" class="btn btn-success">INGRESAR</button>
                </div>
            </form>

            <form id="form3" class="desactivate">
                <div class="form-group ej1 text-center">
                    <label for="fila2">Fila para la posición 2</label>
                    <input type="text" class="form-control" id="fila2" placeholder="Fila">
                    <small id="fila" class="form-text text-muted">Ingrese la fila para la posición 2</small>
                </div>
                <div class="bton text-center">
                    <button type="submit" class="btn btn-success">INGRESAR</button>
                </div>
            </form>

            <form id="form4" class="desactivate">
                <div class="form-group ej1 text-center" id="contentmateria">
                    <label for="col2">Columna para la posición 2</label>
                    <input type="text" class="form-control" id="col2" placeholder="Columna">
                    <small id="" class="form-text text-muted">Ingrese la columna para la posición 2</small>
                </div>
                <div class="bton text-center">
                    <button type="submit" class="btn btn-success">INGRESAR</button>
                </div>
            </form>
        </div>


        <!--  -->
        <div class="col-lg-3" id="content-info-var">
            <div id="content-vars-1" class="desactivate">
                <p id="" style="font-family: RobotoCondensed-Regular;">Fila1: <span class="" id="fila1-span-0"></span>
                </p>
                <p id="" style="font-family: RobotoCondensed-Regular;">Columna1: <span class="" id="col1-span-0"></span>
                </p>
            </div>
            <div id="content-peon2" class="desactivate">
                <p id="" style="font-family: RobotoCondensed-Regular;">Fila2: <span class="" id="fila2-span-0"></span>
                </p>
                <p id="" style="font-family: RobotoCondensed-Regular;">Columna2: <span class="" id="col2-span-0"></span>
                </p>
            </div>
            <div id="content-matriz">
                <span style="font-family: RobotoCondensed-Regular;">Matriz:</span>
                <table class="table">
                    <tbody id="table1">
                        <tr>
                            <td class="text-center">2</td>
                            <td class="text-center">3</td>
                            <td class="text-center">7</td>
                        </tr>
                        <tr>
                            <td class="text-center">7</td>
                            <td class="text-center">4</td>
                            <td class="text-center">3</td>
                        </tr>
                        <tr>
                            <td class="text-center">1</td>
                            <td class="text-center">0</td>
                            <td class="text-center">2</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <!--  -->
        <div class="col-lg-7 desactivate" id="content-operacion">
            <p>
                if(Matriz[Fila1][Columna1] == Matriz[Fila2][Columna2]){ <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Son iguales<br>
                    }else{ <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No son iguales<br>
                    } <br>
            </p>
            <a href="#" id="showresutl" class="btn btn-success mb-2 mx-auto" style="display: block; width: 40%;">Ver
                resultado</a>
        </div>

        <!--  -->
        <div class="col-lg-2 text-center desactivate" id="content-resultado">
            <h3>RESULTADO</h3>
            <p id="result"></p>
        </div>


        <!--  -->
        <div class="col-lg-12 desactivate text-center" id="content-reset">
            <a href="#" id="reiniciar1" class="btn btn-success">
                <i class="fas fa-undo-alt mr-2"></i>Reiniciar</a>
        </div>
    </div>


</main>
{% endblock content %}


{% block scripts %}
<script>
    $('#start-btn').on('click', (e) => {
        e.preventDefault()
        // $('#enunciado-row').toggle('explode')
        $('#enunciado-row').addClass('desactivate')
        // $('#ejercicio-row').toggle('explode')
        $('#ejercicio-row').removeClass('desactivate')
    })

    const validar_null_input = (valor) => {
        return !isNaN(valor) && valor > -1 && valor < 3 ? true : false
    }


    var fila1 = 0,
        columna1 = 0,
        fila2 = 0,
        columna2 = 0,
        matriz = [[2,3,7],[7,4,3],[1,0,2]]


    $('#form').submit(function (e) {
        e.preventDefault()
        fila1 = parseInt($('#fila1').val())

        if (validar_null_input(fila1)) {
            $('#form').toggle('explode')
            $('#form2').toggle('explode')
            $('#fila1-span-0').text(fila1)
        } else {
            alertify.set('notifier', 'position', 'bottom-center');
            var msg = alertify.error('Valor no valido');
            msg.delay(1.3)
        }
    })

    $('#form2').submit(function (e) {
        e.preventDefault()
        columna1 = parseInt($('#col').val())

        if (validar_null_input(columna1)) {
            $('#form2').toggle('explode')
            $('#form3').toggle('explode')
            $('#col1-span-0').text(fila1)
            $('#content-vars-1').toggle('explode')
        } else {
            alertify.set('notifier', 'position', 'bottom-center');
            var msg = alertify.error('Valor no valido');
            msg.delay(1.3)
        }
    })

    $('#form3').submit(function (e) {
        e.preventDefault()
        fila2 = parseInt($('#fila2').val())

        if (validar_null_input(fila2)) {
            $('#form3').toggle('explode')
            $('#form4').toggle('explode')
            $('#fila2-span-0').text(fila2)
        } else {
            alertify.set('notifier', 'position', 'bottom-center');
            var msg = alertify.error('Valor no valido');
            msg.delay(1.3)
        }
    })


    $('#form4').submit(function (e) {
        e.preventDefault()
        columna2 = parseInt($('#col2').val())

        if (validar_null_input(columna2)) {
            $('#col-forms').toggle('explode')
            $('#col2-span-0').text(columna2)
            $('#content-operacion').toggle('explode')
            $('#content-peon2').toggle('explode')
        } else {
            alertify.set('notifier', 'position', 'bottom-center');
            var msg = alertify.error('Valor no valido');
            msg.delay(1.3)
        }
    })

    $('#showresutl').on('click', function (e) {
        e.preventDefault()
        $('#showresutl').toggle('fold')
        $('#content-resultado').toggle('fold')
        
        var val1 = matriz[fila1][columna1],
            val2 = matriz[fila2][columna2],
            valor = ""

        console.log(fila1,columna1,fila2,columna2)

        if(val1 == val2){
            valor = "Son iguales"
        }else{
            valor = "No son iguales"
        }

        document.getElementById('result').innerHTML = valor
        $('#content-reset').toggle('fold')
    })


    $('#reiniciar1').on('click', (e) => {
        e.preventDefault()
        location.reload()
    })
</script>
{% endblock scripts %}